<a href="https://colab.research.google.com/github/hevabianggod/CpE009-OOP/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Phyton Identation

In [ ]:
if 5>2:
  print ("Five is greater than two")

Five is greater than two

Python Comments

In [ ]:
if 5>2:
  print ("Five is greater than two") #comparison of numbers 5 and 2

Five is greater than two

Phyton Variable

In [ ]:
x=1 #This is a single variable with a value
a,b=0,-1

print (a)
print (b)
print (x)
b="Sally"

print (b)

0
-1
1
Sally

Casting

In [ ]:
b="sally" #This is a type of string
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

Type() function

In [ ]:
x=5
y="John"
print (type(x))
print (type(y))

<class 'int'>
<class 'str'>

Double Quotes or SIngle Quotes

In [ ]:
y="John"
print (y)
y='john'
print(y)

John
john

Case Sensitive

In [ ]:
a=4
A="Sally"
#A will not overwrite a

Multiple Variables

In [ ]:
x,y,z = "one","two","three"
print(x)
print(y)
print(z)

one
two
three

Output Variables
The python print is used to output variables and + is used to combine both text and variable

In [ ]:
x="enjoying"
print ("Python programming is"+" "+x)

Python programming is enjoying
three

In [ ]:
X="python is"
Y=" enjoying"
Z=X+Y
print(Z)

python is enjoying